# Tested dependency closure: Python 3.12 / Linux. Core + development + notebook schema validation.
# Install this lock, then: pip install --no-deps -e .
asciitree==0.3.3
attrs==26.1.0
build==1.6.1
cartopy==0.24.1
cdsapi==0.7.7
certifi==2026.7.22
cffi==2.1.1
cfgrib==0.9.15.1
cftime==1.6.4.post1
charset-normalizer==3.5.1
click==8.5.0
cloudpickle==3.1.2
contourpy==1.3.3
cramjam==2.13.0
cycler==0.12.1
dask==2025.3.1
deprecated==3.0.0
eccodes==2.48.0
eccodeslib==2.49.0.30
eckitlib==2.3.0.30
ecmwf-datastores-client==0.5.3
fasteners==0.20
fastjsonschema==2.22.2
fastparquet==2025.12.0
filelock==3.32.7
findlibs==0.1.3
fonttools==4.66.1
fsspec==2026.9.0
h5netcdf==1.8.1
h5py==3.16.0
idna==3.20
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-core==5.9.1
kiwisolver==1.5.1
locket==1.0.0
matplotlib==3.10.9
multiurl==0.3.9
nbformat==5.11.1
netcdf4==1.7.2
numcodecs==0.15.1
numpy==1.26.4
packaging==26.3
pandas==2.3.3
partd==1.4.2
pillow==12.3.0
platformdirs==4.12.2
pluggy==1.6.0
pycparser==3.0
pygments==2.21.0
pyparsing==3.3.3
pyproj==3.8.0
pyproject-hooks==1.3.3
pyshp==3.1.6
pytest==9.1.1
python-dateutil==2.9.0.post0
pytz==2026.4
pyyaml==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
ruff==0.16.9
scipy==1.15.3
setuptools==84.0.0
shapely==2.1.2
six==1.17.0
toolz==1.1.0
tqdm==4.70.1
traitlets==5.16.1
typing-extensions==4.16.0
tzdata==2026.4
urllib3==2.8.0
wheel==0.48.0
wrapt==2.5.0
xarray==2025.3.1
zarr==2.18.7
nbconvert>=7,<8
